.productos-destacados {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.letra-productos{
    display: flex;
    justify-content: center;
}

.caja-fotos {
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
    width: 100%;
}

.product-img {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: flex-end;
    width: 400px;
}

article img {
    height: 70%;
    width: 70%;
}

article p {
    font-size: 18px;
    line-height: 10px;
    padding-top: 15px;    
}

.dscto {
    color: rgb(211, 10, 10);
}

@media only screen and (max-width: 1637px) {
    .producto-destacados {
        flex-direction: column;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .product-img {
        height: 350px;
        padding-bottom: 20px;
        width: 350px;
    }
}