.experiencia-compras {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 50px;
}

.caja-experiencias {
    align-items: center;
    background-color:  rgb(173, 235, 235);
    border-radius: 25px;
    border: 1px solid rgb(147, 231, 231) ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 30px;
    width: 93%;
}

.img-opinion {
    height: 150px;
    padding-left: 10px;
    width: 150px;
}

.caja-experiencias p {
    font-size: 15px;
    line-height: 15px;
    padding-left: 30px;
    padding: 10px;
}

.caja-experiencias .star {
    font-size: 25px;
}

@media only screen and (max-width: 425px) {
    .caja-experiencias {
        display:flex;
        justify-content: center;
        padding: 10px;
    }

    .img-opinion {
        border-radius: 20px;
        margin-top: 10px;
        padding: 0;
    }

    .caja-experiencias .star {
        display:flex;
        justify-content: center;
        padding: 10px 0;
    }
}


